{% extends 'home/profile.html.twig' %}


 {% block content %}
<div >
    <h1>
        Create a Suggestion
    </h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}
        <button    
            type="submit">
                        Submit Post
        </button>

    {{ form_end(form) }}
</div>
            

{% endblock %}

