{% extends 'characters/index.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<style>
p{

    font-size:21px;
}
</style>

{% endblock %}
{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Email Sent</h1>
 <p>
        If an account matching your email exists, then an email was just sent that contains a link  <br>that you can use to reset your password.
      
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}"><b>try again</b></a>.</p>

<img src="https://media.tenor.com/q-zZSTX6jSIAAAAM/mail-download.gif" alt="">
</div>
   
{% endblock %}
